@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

img.header-img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  font-family: "Satisfy", cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.producto {
  width: 18rem;
}
.carrito {
  width: 30px;
  height: 30px;
}
